<div class='card-body'>
  <div class='row m-0'>
    <h3 class='col-md-1'>Search:</h3>
    <div class='col-md-2'>
      <label>
        <input type='text' [(ngModel)]="listFilter"/>
      </label>
    </div>
    <div class='col-md-1 text-nowrap' *ngIf="listFilter">
      <h3 class="m-0">Filtered by: {{listFilter}}</h3>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
      <tr class="text-capitalize">
        <th scope="col">id</th>
        <th>name</th>
        <th>expansion</th>
        <th>armyType</th>
        <th>uniqueUnit</th>
        <th>uniqueTech</th>
        <th>teamBonus</th>
        <th>civilizationBonus</th>
      </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let civ of filteredCivs">
          <tr [id]="'civ-item-'+civ.id" >
            <th scope="row">{{civ.id}}</th>
            <td>{{civ.name}}</td>
            <td>{{civ.expansion}}</td>
            <td>{{civ.army_type}}</td>
            <td>
              <div *ngFor="let civParam of civ.unique_unit">
                <a class="text-info pointer" (click)="clickOnUnique(civ.id)"><u>
                  {{civParam | convertCivUniqueProp | convertToSpaces: '_' | titlecase}}
                </u></a>
              </div>
            </td>
            <td>
              <div *ngFor="let civParam of civ.unique_tech">
                <a class="text-info pointer" (click)="clickOnUnique(civ.id)"><u>
                  {{civParam | convertCivUniqueProp | convertToSpaces: '_' | titlecase}}
                </u></a>
              </div>
            </td>
            <td>{{civ.team_bonus}}</td>
            <td>
              <table class="table-striped">
                <tbody>
                  <tr *ngFor="let civParam of civ.civilization_bonus">
                    {{civParam}}
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr *ngIf="details[civ.id]" [id]="'details-'+civ.id">
            <td colspan="8" class="m-0 p-1">
              <app-one-unit-table [inputUrl]="civ.unique_unit"></app-one-unit-table>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
